<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Branding</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <main class="container-fluid" style="height: 566.938px;">
        <h1 class="text-center display-6 pt-2"><a href="https://iitdh.ac.in"><img src="https://election.iitdh.ac.in/static/media/logog.084b1a7a95f4bcd9fccd.png" height="50px" alt="Logo"></a>
            Branding of The DOMinators</h1>
        <hr>
        <section>
            <p style="text-align: center;font-weight: bold;">Meet the team members of The DOMinators</p>
            <div style="display: flex; justify-content: center;">
                <div style="display: block;" class="mx-3">
                    <img src="./assets/20231224_154537.jpg" alt="Nidhish" height="200px" width="150px">
                    <h5><a href="mailto:cs23bt009@iitdh.ac.in" style="text-decoration: none; color: red;">Nidhish Doshi</a></h5>
                </div>
                <div style="display: block;" class="mx-3">
                    <img src="./assets/Screenshot_20240714_145823_Drive.jpg" alt="Rupesh" height="200px" width="170px">
                    <h5><a href="mailto:cs23bt025@iitdh.ac.in" style="text-decoration: none; color: blue;">Mallireddy Rupesh</a></h5>
                </div>
                <div style="display: block;" class="mx-3">
                    <img src="./assets/Screenshot_20240714_145334_WhatsApp.jpg" alt="Vedamitra" height="200px" width="190px">
                    <h5><a href="mailto:ee23bt060@iitdh.ac.in" style="text-decoration: none; color: green;">Gurram Vedamitra Goud</a></h5>
                </div>
                <div style="display: block;" class="mx-3">
                    <img src="./assets/IMG-20240703-WA0000.jpg" alt="Viswavijeth" height="200px" width="170px"> 
                    <h5><a href="mailto:cs23bt076@iitdh.ac.in" style="text-decoration: none; color: #89288f;">Gaddam Viswavijeth</a></h5>
                </div>
            </div>
            <hr/>
            <div class="text-center">
                <a href="/user_open">
                    <button type="button" class="btn btn-success btn-close-window">
                        Close
                    </button>
                </a>
            </div>
        </section>
    </main>
</body>
</html>