<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code of Conduct</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <main class="container-fluid" style="height: 566.938px;">
        <h1 class="text-center display-6 pt-2"><a href="https://iitdh.ac.in"><img src="https://election.iitdh.ac.in/static/media/logog.084b1a7a95f4bcd9fccd.png" height="50px" alt="Logo"></a>
            Code of Conduct for Using Library Management Library(LMS)</h1>
        <hr>
        <section class="body-continuous">
            <p>We, the members of The DOMinators, deeply value our role in providing e-learning services and advancing online education. As an initiative under NMEICT, we pledge to serve to the basic principles of Education Policy viz., access, equity and quality. We are committed to upholding the utmost integrity, professionalism, ethical conduct, and inclusive environment for all our users. We agree to adhere to the following rules:</p>
            <ol class="long-list">
                <li class="level-1">Respect and Inclusivity
                    <ul>
                        <li class="level-2">We respect the diversity of backgrounds, cultures, perspectives, and opinions among our users, content collaborators, and employees.</li>
                        <li class="level-2">We foster an inclusive environment in The DOMinators where everyone feels valued and empowered to contribute to the best of their abilities.</li>
                        <li class="level-2">We refrain from engaging in discriminatory, harassing, or disrespectful behavior based on race, ethnicity, gender, sexual orientation, religion, age, disability, or any other characteristic.</li>
                    </ul>
                </li>
                <li class="level-1">Integrity and Ethics
                    <ul>
                        <li class="level-2">We provide e-learning experience with honesty, transparency, and integrity at all times.</li>
                        <li class="level-2">We adhere to ethical standards in all aspects of The DOMinators operations, including data accessibility, content creation, and user awareness.</li>
                    </ul>
                </li>
                <li class="level-1">Professionalism
                    <ul>
                        <li class="level-2">We strive for excellence in all our efforts and consistently deliver high-quality e-learning products and services to our users.</li>
                        <li class="level-2">We communicate professionally and courteously in all interactions with LMS users, partners, content collaborators, and employees.</li>
                        <li class="level-2">We uphold the reputation of our project by avoiding conflicts of interest, prioritizing the interest of our users, and adhere to relevant laws and regulations.</li>
                    </ul>
                </li>
                <li class="level-1">Intellectual Property and Copyright
                    <ul>
                        <li class="level-2">We comply with the copyright laws and respect the intellectual property rights (IPR) of authors, publishers, and content developers.</li>
                        <li class="level-2">We provide appropriate attribution for the third-party contents available in our digital repository and obtain necessary permissions when required.</li>
                    </ul>
                </li>
                <li class="level-1">Continuous Improvement
                    <ul>
                        <li class="level-2">We are committed to continuous innovation and improvement, adapting to the needs of users and education industry trends.</li>
                        <li class="level-2">We regularly review and update LMS contents and practice to ensure alignment with our values, objectives and the changing landscape of digital libraries.</li>
                        <li class="level-2">We encourage open discussion and constructive feedback from the users and collaborators, driving continuous improvement and growth.</li>
                    </ul>
                </li>
                <li class="level-1">Non-Retaliation Principle
                    <ul>
                        <li class="level-2">We do not retaliate against any The DOMinators members or any other individual who reports an instance of misconduct or any violation of this Code of Conduct.</li>
                        <li class="level-2">We do not retaliate against anyone who brings to The DOMinators's attention any violation of laws, regulations, or rules associated with activities.</li>
                    </ul>
                </li>
            </ol>
            
            <hr>
            <div class="text-center">
                <a href="/user_open">
                    <button type="button" class="btn btn-success btn-close-window">
				        Close
				    </button>
                </a>
			</div>
        </section>
    </main>
</body>
</html>