<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <main class="container-fluid mb-3" style="height: 566.938px;">
		<h1 class="text-center display-6 pt-2"><a href="https://iitdh.ac.in"><img src="https://election.iitdh.ac.in/static/media/logog.084b1a7a95f4bcd9fccd.png" height="50px" alt="Logo"></a>Privacy Policy of Library Management System (LMS)</h1>
		<hr>
		<section class="body-continuous">
			<p>Library Management System (LMS) respects users' privacy
				and wants its users to understand how LMS collects, uses, and shares
				data about any user. This Privacy Policy covers LMS's data
				collection and usage practices and describes how a user may restrict
				collection of his/her personal data.</p>
			<p>
				Unless LMS links in its website a different policy or states
				otherwise, this Privacy Policy applies when a user visits or uses
				the LMS website, mobile applications, LMS Club or related services
				(the <strong>"Services"</strong>).
			</p>
			<p>
				<strong>By using the Services, the user agrees to the terms of this
					Privacy Policy.</strong> A person shouldn't use the LMS Services
				if s/he doesn't agree with this Privacy Policy.
			</p>
			<h2>Table of Contents</h2>
			<ol>
				<li><a href="#toc_1">What data LMS gets about a user</a></li>
				<li><a href="#toc_2">How LMS gets data about users</a></li>
				<li><a href="#toc_3">What for LMS uses user's data</a></li>
				<li><a href="#toc_4">With whom LMS may share user data</a></li>
				<li><a href="#toc_5">Steps LMS takes to protect user's privacy</a></li>
				<li><a href="#toc_6">User rights</a></li>
				<li><a href="#toc_7">Updates and contact details</a></li>
			</ol>
			<hr>
			<div class="toc_item">
				<h3 id="toc_1">1. What data LMS gets about a user</h3>
				<p>LMS collects three (3) types of information:</p>
				<div class="toc_item">
					<ol>
						<li>Personal information that a user provides directly to LMS
							when s/he registers in LMS by filling up the registration form
							or submits information through a form based on a specific request
							or purpose.</li>
						<li>Data collected automatically such as tracking information, or other data related to usage of LMS sites, which are
							covered in section 1.2 below.</li>
						<li>Data of user's preferences of books, author, genre and branch along with past records.</li>
					</ol>
					<h4>1.1. Data user provides directly to us</h4>
					<p>LMS may collect different data from or about user depending on
						how user uses the Services. Below are some examples to help user
						understand better the data LMS collects.</p>
					<p>When a user registers in LMS and uses its Services, LMS
						collects the data s/he provide directly, including:</p>
					<p>
						<strong>Registration Data:</strong> In order to use certain
						features (like accessing some contents), user needs to register in
						LMS. When user registers giving his/her personal information or
						later updates these information, LMS stores these data, like
						user's email address, password and educational role. ("<strong>Registration Data</strong>").
					</p>
					<p>
						<strong>Content Usage Data</strong>: When user accesses contents,
						LMS may collect certain data including the contents, courses,
						assignments, labs, workspaces, and quizzes that user may have
						worked on.
					</p>
					<p>
						<strong>Data about user account on other platforms/services</strong>:
						If user accesses or uses LMS Services through a third-party
						platform or service, or clicks on any third-party links, the
						collection, use, and sharing of her/his data will also be subject
						to the privacy policies and other agreements of that third party.
					</p>
					<p>
						<strong>Communications and Support</strong>: If a user contacts
						LMS for support or to report a problem or concern, LMS may
						collect and store the user's contact information, messages, and
						other data about the user like her/his name, email address,
						messages, location and any other data s/he provides. LMS uses
						these data to respond to the user and research her/his question or
						concern, in accordance with this Privacy Policy.
					</p>

					<h4>1.2. Data LMS may collect through automated means</h4>
					<p>When a user accesses LMS's Services (including browsing
						content), LMS may collect certain data by automated means,
						including:</p>
					<p>
						<strong>System Data</strong>: Technical data about user's computer
						or device, like his/her IP address, device type, operating system
						type and version, unique device identifiers, browser, browser
						language, other systems data, and platform types ("System Data").
					</p>
					<p>
						<strong>Usage Data</strong>: Usage statistics about user's
						interactions with LMS's Services, including contents accessed,
						time spent on pages or the Service, pages visited, features used,
						search queries, date and time, and other data regarding user's use
						of the Services ("<strong>Usage Data</strong>").
					</p>
					<p>The data listed above is collected through the use of server log
						files and tracking technologies, as detailed in the "Cookies and
						Data Collection Tools" section below. It is stored and associated
						with user's account.</p>

					<h4>1.3. Data collected with cookies</h4>
					<p>
						LMS uses cookies, which are small pieces of information, stored
						in user's browser, to collect, store, and share data about his/her
						activities across LMS sites. These allow LMS to remember things
						about user's visits to LMS, like his/her preferred language,
						his/her preferences etc. so that LMS can display customized
						contents/services on user's next visit. To learn more about
						cookies, visit <a href="https://cookiepedia.co.uk/all-about-cookies" target="_new">https://cookiepedia.co.uk/all-about-cookies</a>.
					</p>
				</div>
				<hr>

				<h3 id="toc_2">2. How LMS gets data about users</h3>
				<p>LMS uses cookie technology to gather the data listed above.</p>
				<div class="toc_item">
					<h4>2.1. Data collection tools</h4>
					<p>
						LMS and its home grown Analytics tool uses server log files and
						automated data collection tool like cookies (covered in section
						1.3 above) (together, "<strong>Data Collection Tools</strong>")
						when user accesses and uses the Services. These Data Collection
						Tools automatically track and collect certain System Data and
						Usage Data (as detailed in Section 1) when user uses LMS's
						Services.
					</p>
					<h4>2.2. Why LMS uses Data Collection Tools</h4>
					<p>LMS uses Data Collection Tools for the following purposes:</p>
					<ul>
						<li><em>Strictly Necessary</em>: These Data Collection Tools
							enable users to access the site, provide basic functionality
							(like logging in or accessing contents), secure the site, protect
							against fraudulent logins, and detect and prevent abuse or
							unauthorized use of user’s account. These are required for the
							Services to work properly; so if user disables these, parts of
							the site may break or be unavailable.</li>
						<li><em>Functional</em>: These Data Collection Tools remember data
							about user’s browser and preferences, provide additional site
							functionality, customize content to be more relevant to him/her,
							and remember settings affecting the appearance and behavior of
							the Services (like user’s preferred language).</li>
						<li><em>Performance</em>: These Data Collection Tools help measure
							and improve the Services by providing usage and performance data,
							visit counts, traffic sources, frequency of visits etc. These
							tools can help NDLI test different versions of LMS to see which
							features or contents users prefer and determine other performance
							factors.</li>
					</ul>
					<p>User can set his/her web browser to alert him/her about attempts
						to place cookies on his/her computer, limit the types of cookies
						s/he allows, or refuses cookies altogether. If user does so,
						s/he may not be able to use some or all features of the
						Services, and his/her experience may be different or less
						functional. To learn more about managing Data Collection Tools,
						refer to Section 6 (User Rights) below.</p>
				</div>
				<hr>

				<h3 id="toc_3">3. What purpose does LMS use users' data</h3>
				<p>LMS uses users' data to do things like provide its Services,
					communicate with users, troubleshoot issues, secure against fraud
					and abuse, improve and update its Services, analyze how people use
					its Services, and as required by governmental authority or law or
					necessary for safety and integrity.</p>
				<p>LMS uses the data it collects through user’s use of its Services
					to:</p>
				<div class="toc_item">
					<ul>
						<li>Provide and administer the Services, including to facilitate
							participation in educational activities, issue participation
							certificates, display customized contents;</li>
						<li>Manage users' account and account preferences;</li>
						<li>Facilitate the Services' technical functioning, including
							troubleshooting and resolving issues, securing the Services, and
							preventing fraud and abuse;</li>
						<li>Solicit feedback from users;</li>
						<li>Identify unique users across devices;</li>
						<li>Improve its Services and develop new products, services, and
							features;</li>
						<li>Analyze trends and traffic, track usage data;</li>
						<li>As required or permitted by law; or</li>
						<li>As LMS, in its sole discretion, otherwise determine to be
							necessary to ensure the safety or integrity of its users and
							Services.</li>
					</ul>
				</div>
				<hr>

				<h3 id="toc_4">4. To whom LMS may share users' data with</h3>
				<p>LMS may share certain user-data with a very limited population
					like researchers, LMS affiliates, etc. LMS may also share users'
					data as needed for security, legal compliance, and governmental
					requirements or as part of a change in ownership.</p>
				<p>It may be noted that LMS uses its home-grown Analytics tool for service improvement and thus the
					question of sharing data with third parties for Analytics and Data
					enrichment does not arise.</p>
				<p>LMS may share users' data with third parties under the following
					circumstances or as otherwise described in this Privacy Policy:</p>
				<div class="toc_item">
					<ul>
						<li><em>With Other Researchers</em>: Depending on user's settings,
							user's shared content and profile data may be shared with some
							researchers.</li>
						<li><em>With Service Providers</em>: LMS may share users' data with
							content/service providing partners who perform services on behalf
							of LMS, like email and hosting services, specific content or
							service providing partners, user support etc. These service
							providers may access user data to provide requested services.</li>
						<li><em>For Security and Legal Compliance</em>: LMS may disclose
							users' data to third parties if LMS (in its sole discretion)
							beliefs that the disclosure is:
							<ul>
								<li>Permitted or required by law;</li>
								<li>Requested as part of a judicial, governmental, or legal
									inquiry, order, or proceeding;</li>
								<li>Reasonably necessary to enforce its Terms of Use, Privacy
									Policy, and other agreements;</li>
								<li>Required to detect, prevent, or address fraud, abuse,
									misuse, potential violations of law (or rule or regulation), or
									security or technical issues; or</li>
								<li>Reasonably necessary in its discretion to protect against
									imminent harm to the rights, property or safety of LMS, its
									users and employees.</li>

							</ul>
						</li>
						<li><em>During a Change in Ownership</em>: If LMS undergoes a
							change in ownership by being transferred to a third party, LMS
							may share, disclose, or transfer all user data to the successor
							organization during such transition or in contemplation of a
							transition (including during due diligence).</li>
					</ul>
				</div>
				<hr>

				<h3 id="toc_5">5. Steps LMS takes to protect users' privacy</h3>
				<p>LMS takes appropriate security measures to protect against
					unauthorized access, alteration, disclosure, or destruction of
					users' personal data that it collects and stores. These measures
					vary based on the type and sensitivity of the data. However, no
					system can be 100% secured. So LMS cannot guarantee that
					communications between user and LMS or any information it collects
					through its Services will be free from unauthorized access by third
					parties. User's password is an important part of security system,
					and it is user's responsibility to protect it. User should not use
					a very simple password and should not share password with anyone,
					and at any time, if a user believes that her/his password or account
					has been compromised, s/he should change it immediately.</p>

				<hr>

				<h3 id="toc_6">6. Users' rights</h3>
				<p>A user may choose not to provide certain data to LMS, but in that case, s/he
					may not be able to use certain features of the LMS Services.</p>
				<p>
					The browser or device user uses may allow him/her to control
					cookies and other types of local data storage. To learn more about
					managing cookies, visit <a href="https://cookiepedia.co.uk/how-to-manage-cookies" target="_new">https://cookiepedia.co.uk/how-to-manage-cookies</a>.
				</p>
				<p>Apple iOS, Android OS, and Microsoft Windows each provide their
					own instructions on how to control in-app tailored advertising. For
					other devices and operating systems, user should review his/her
					privacy settings on that platform.</p>
				<hr>

				<h3 id="toc_7">7. Updates and contact details</h3>
				<p>From time to time, LMS may update this Privacy Policy. If it
					makes any material change to it, LMS will inform this through a
					notification posted on its websites, or as required by applicable
					law. It will also include a summary of the key changes. Unless
					stated otherwise, changes will become effective on the day the
					update is posted on its websites.</p>
				<p>If a user continues to use LMS Services after the effective date
					of any update of the Privacy Policy, then user’s access and/or use
					will be deemed an acceptance of the revised Privacy Policy. The
					revised Privacy Policy supersedes all previous Privacy Policies.</p>
				<p>
					For any communication, users may write to <a href="mailto:ndl-cs23bt009@iitdh.ac.in">cs23bt009@iitdh.ac.in</a>.
				</p>
			</div>
			
			<hr>
			<div class="text-center">
                <a href="/user_open">
                    <button type="button" class="btn btn-success btn-close-window">
				        Close
				    </button>
                </a>
				
			</div>
		</section>
	</main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>