<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
</head>
<body>
    <form action="/search">
        <input placeholder="Search" list="books" name="search_book" type="search">
        <datalist id="books">
            <% if(locals.books) { %>
            <% for(var i=0;i<books.length;i++) { %>
            <option><%= books[i] %></option>
            <% } } %>
        </datalist>
    </form>
</body>
</html>