<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sitemap</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <main class="container-fluid" style="height: 566.938px;">
        <h1 class="text-center display-6 pt-2"><a href="https://iitdh.ac.in"><img src="https://election.iitdh.ac.in/static/media/logog.084b1a7a95f4bcd9fccd.png" height="50px" alt="Logo"></a>
            Sitemap</h1>
        <hr>
        <section class="body-continuous">
            <div class="row">
                <div class="col-md-4 border-end">
                    <ul class="long-list">
                        <li class="level-1">User Account<ul><li class="level-2"><a href="/signup" class="link-secondary">Account Registration</a></li><li class="level-2"><a href="/login" class="link-secondary">Account Login</a></li></ul></li><li class="level-1">About<ul><li class="level-2"><a href="/privacy_policy" class="link-secondary">Privacy Policy</a></li><li class="level-2"><a href="/terms_and_conditions" class="link-secondary">Terms and Conditions</a></li></ul></li><li class="level-1">Guidelines<ul><li class="level-2"><a href="/branding" class="link-secondary">Branding</a></li><li class="level-2"><a href="/coc" class="link-secondary">Code of Conduct</a></li></ul></li><li class="level-1">Services<ul><li class="level-2"><a href="/club" class="link-secondary">The DOMinators Club</a></li><li class="level-2"><a href="/news_archive" class="link-secondary">News Centre</a></li></ul></li>                    </ul>
                </div>
                <div class="col-md-4 border-end">
                    <ul class="long-list">
                        <li class="level-1">Contents<ul><li class="level-2"><a href="/cs" class="link-secondary">Computer Science</a><ul><li class="level-3"><a href="#" class="link-secondary">Search Contents</a></li><li class="level-3"><a href="#" class="link-secondary">Browse by Subjects</a></li><li class="level-3"><a href="#" class="link-secondary">Browse by Educational Levels</a></li><li class="level-3"><a href="#" class="link-secondary">Browse by Resource Types</a></li><li class="level-3"><a href="#" class="link-secondary">Browse by Content Providers</a></li></ul></li><li class="level-2"><a href="/me" class="link-secondary">Mechanical Engineering</a><ul><li class="level-3"><a href="#" class="link-secondary">Search Contents</a></li><li class="level-3"><a href="#" class="link-secondary">Browse by Subjects</a></li><li class="level-3"><a href="#" class="link-secondary">Browse by Resource Types</a></li><li class="level-3"><a href="#" class="link-secondary">Browse by Content Providers</a></li><li class="level-3"><a href="#" class="link-secondary">Browse by Educational Levels</a></li></ul></li><li class="level-2"><a href="/ee" class="link-secondary">Electrical Engineering</a><ul><li class="level-3"><a href="#" class="link-secondary">Search Contents</a></li><li class="level-3"><a href="#" class="link-secondary">Browse by Subjects</a></li><li class="level-3"><a href="#" class="link-secondary">Browse by Content Providers</a></li><li class="level-3"><a href="#" class="link-secondary">Browse by Resource Types</a></li><li class="level-3"><a href="#" class="link-secondary">Browse by Journals</a></li></ul></li><li class="level-2"><a href="/ce" class="link-secondary">Civil Engineering</a><ul><li class="level-3"><a href="#" class="link-secondary">Browse by Examinations</a></li><li class="level-3"><a href="#" class="link-secondary">Browse by Resource Types</a></li></ul></li><li class="level-2"><a href="/ch" class="link-secondary">Chemical Engineering</a><ul><li class="level-3"><a href="#" class="link-secondary">Search Contents</a></li><li class="level-3"><a href="#" class="link-secondary">Browse by Content Providers</a></li><li class="level-3"><a href="#" class="link-secondary">Browse by Resource Types</a></li></ul></li><li class="level-2"><a href="/ep" class="link-secondary">Engineering Physics</a><ul><li class="level-3"><a href="#" class="link-secondary">Browse by Content Providers</a></li><li class="level-3"><a href="#" class="link-secondary">Browse by Newspapers</a></li></ul></li></ul></li>                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="long-list">
                        <li class="level-1">Social Media Links<ul><li class="level-2"><a href="https://www.facebook.com" class="link-secondary">Facebook</a></li><li class="level-2"><a href="https://twitter.com" class="link-secondary">X</a></li><li class="level-2"><a href="https://www.threads.net" class="link-secondary">Threads</a></li><li class="level-2"><a href="https://www.youtube.com" class="link-secondary">Youtube</a></li><li class="level-2"><a href="https://in.linkedin.com" class="link-secondary">LinkedIn</a></li><li class="level-2"><a href="https://www.instagram.com" class="link-secondary">Instagram</a></li></ul></li>                    </ul>
                </div>
            </div>

            <hr>
            <div class="text-center">
				<a href="/user_open">
					<button type="button" class="btn btn-success btn-close-window">
						Close
					</button>
				</a>
			</div>
        </section>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>